name: linting & tests
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v2
        with:
          node-vesrion: '16.x'
      
      - run: make install
      
      - run: make lint

      - run: make test
